@{
    ViewBag.Title = "About";
}

<h1>About</h1>
<p>
    Mauris a fringilla magna. Nunc elementum nulla nibh, eu convallis neque finibus a. Vivamus laoreet turpis et tellus lacinia pharetra. Donec viverra orci et magna consectetur, mollis ornare libero gravida. Morbi et tempus sem. Praesent neque felis, aliquet vel blandit et, consequat in risus. Nam faucibus, magna at mollis malesuada, ipsum nisl aliquam nunc, nec tincidunt tortor eros a augue.

    Nullam nec sollicitudin lorem, sit amet tempor ante. Integer elementum, augue quis lacinia finibus, dolor tellus auctor ligula, id ultrices eros justo eleifend felis. Aenean laoreet velit id libero bibendum bibendum. Nulla et metus in velit feugiat faucibus et sed felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae scelerisque eros. Integer porttitor nulla et nisi malesuada fringilla. Nulla sollicitudin tortor sit amet lacus ultricies, eu mattis lacus fringilla. Nunc vel lacus ac sapien rhoncus semper ut auctor ligula.
</p>

@{
    PersonGridModel personGridModel = new PersonGridModel()
    {
        GridTitle = "Friends",
        Persons = new List<Person>()
        {
            new Person() {PersonName = "Emma", JobTitle = "Manager" },
            new Person() {PersonName = "Eva", JobTitle = "Asst." },
            new Person() {PersonName = "Edna", JobTitle = "Clerk" }
        }
    };
}

<vc:grid grid="personGridModel"></vc:grid>
